In [ ]:
# Assignment : 3
# 3.1 Create a dataset
# 3.2 Locate row 0, 4, 7 and 8 using DataFrame.

import pandas as pd
data = pd.read_csv("/content/gaurav1.csv")

df = pd.DataFrame(data)
df.iloc[[0,4,7,8]]

   Tid Refund Marital Status Taxable income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [ ]:
# 3.3(i) Select row from index 3 to 7.

import pandas as pd
data = pd.read_csv("/content/gaurav1.csv")

df = pd.DataFrame(data)
df.iloc[3:8]

   Tid Refund Marital Status Taxable income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

In [ ]:
# 3.3(ii) Select row from index 4 to 8, and column 2 to 4.

import pandas as pd
data = pd.read_csv("/content/gaurav1.csv")

df = pd.DataFrame(data)
df.iloc[4:9,2:5]

  Marital Status Taxable income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

In [ ]:
# 3.3(iii) Select all rows with column index 1 to 3 (include index 3 during selection).

import pandas as pd
data = pd.read_csv("/content/gaurav1.csv")

df = pd.DataFrame(data)
df.iloc[:,1:4]

  Refund Marital Status Taxable income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
# 3.4 Read a csv file and display its first five rows.

import pandas as pd
data = pd.read_csv("/content/Iris.csv")

df1 = pd.DataFrame(data)

In [5]:
# 3.5 From the csv file uploaded, delete row 4, and delete column 3.

import pandas as pd
data = pd.read_csv("/content/Iris.csv")

df1 = pd.DataFrame(data)

df1.drop(3,axis=0,inplace=True)
print(df1)

column_to_drop = df1.columns[3]
df1.drop(column_to_drop,axis=1,inplace=True)
print(df1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
4      5            5.0           3.6            1.4           0.2
5      6            5.4           3.9            1.7           0.4
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
4       Iris-setosa
5       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[149 rows x 6 columns]
      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
4      5            5.0           3.6           0.2     Iris-setosa
5      6            5.4           3.9           0.4     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
# 3.6 a) Shape (number of rows and columns) of the DataFrame.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

shape = df.shape

print(f"The shape of the DataFrame is : {shape}")
print(f"Number of rows is : {shape[0]}")
print(f"Number of columns is : {shape[1]}")

The shape of the DataFrame is : (5, 10)
Number of rows is : 5
Number of columns is : 10

In [9]:
# 3.6 b) Summary of the DataFrame that includes the data types and non-null counts for each column.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

In [10]:
# 3.6 c) Generate descriptive statistics.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

statistics = df.describe()
print(statistics)

       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [11]:
# 3.6 d) Display the first 5 rows and last 3 rows of the dataset.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

print("First 5 rows:")
print(df.head(5))

print("\nLast 3 rows:")
print(df.tail(3))

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating
0   15-03-2020      F   5000     4.5
1   19-07-2017      M   7000     4.0
2   01-06-2013      M   6000     3.8
3   10-02-2021      F   4500     4.7
4   25-11-2010      M   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating
2   01-06-2013      M   6000     3.8
3   10-02-2021      F   4500     4.7
4   25-11-2010      M   5000     3.5

In [12]:
# 3.6 e) i. The average salary of employees.
#        ii. The total bonus paid to all employees.
#        iii. The youngest employee's age.
#        iv. The highest performance rating.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

average_salary = df['Salary'].mean()

total_bonus = df['Bonus'].sum()

youngest_age = df['Age'].min()

highest_rating = df['Rating'].max()

print(f"i. Average Salary of Employees: {average_salary}")
print(f"ii. Total Bonus Paid to All Employees: {total_bonus}")
print(f"iii. Youngest Employee's Age: {youngest_age}")
print(f"iv. Highest Performance Rating: {highest_rating}")

i. Average Salary of Employees: 60000.0
ii. Total Bonus Paid to All Employees: 27500
iii. Youngest Employee's Age: 28
iv. Highest Performance Rating: 4.7

In [13]:
# 3.6 f) Sort the DataFrame by the Salary column in descending order.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

df_sorted = df.sort_values(by='Salary',ascending=False)
print(df_sorted)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date Gender  Bonus  Rating
1   19-07-2017      M   7000     4.0
2   01-06-2013      M   6000     3.8
4   25-11-2010      M   5000     3.5
3   10-02-2021      F   4500     4.7
0   15-03-2020      F   5000     4.5

In [18]:
# 3.6 g) Add a new column that categorizes employees based on their performance rating:

#        i. Excellent for ratings >= 4.5
#        ii. Good for ratings >= 4.0 but < 4.5
#        iii. Average for ratings < 4.0

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

def categorize_performance(rating):
    if rating>=4.5:
       return 'Excellent'
    elif rating>=4.0 and rating<4.5:
       return 'Good'
    else:
       return 'Average'

df['Performance'] = df['Rating'].apply(categorize_performance)
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating Performance
0   15-03-2020      F   5000     4.5   Excellent
1   19-07-2017      M   7000     4.0        Good
2   01-06-2013      M   6000     3.8     Average
3   10-02-2021      F   4500     4.7   Excellent
4   25-11-2010      M   5000     3.5     Average

In [19]:
# 3.6 h) Identify missing values in the DataFrame.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

missing_values = df.isnull()
print(missing_values)

   Employee_ID   Name  Department    Age  Salary  Years_of_Experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining_Date  Gender  Bonus  Rating
0         False   False  False   False
1         False   False  False   False
2         False   False  False   False
3         False   False  False   False
4         False   False  False   False

In [21]:
# 3.6 i) Rename the Employee_ID column to ID.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

df.rename(columns={'Employee_ID':'ID'},inplace=True)
print(df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   15-03-2020
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
3  104    Diana  Marketing   28   55000                    3   10-02-2021
4  105   Edward      Sales   38   60000                   12   25-11-2010

  Gender  Bonus  Rating
0      F   5000     4.5
1      M   7000     4.0
2      M   6000     3.8
3      F   4500     4.7
4      M   5000     3.5

In [24]:
# 3.6 j) Find all employees who:

#       i. Have more than 5 years of experience.
#       ii. Belong to the IT department.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

print(f"i. Employees having more than 5 years of experience.\n")
exp_employees = df[df['Years_of_Experience']>5]
print(exp_employees)

print()

print(f"ii. Employees belonging to IT department.\n")
it_employees = df[df['Department'] == 'IT']
print(it_employees)

i. Employees having more than 5 years of experience.

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating
1   19-07-2017      M   7000     4.0
2   01-06-2013      M   6000     3.8
4   25-11-2010      M   5000     3.5

ii. Employees belonging to IT department.

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10

  Joining_Date Gender  Bonus  Rating
1   19-07-2017      M   7000     4.0
2   01-06-2013      M   6000     3.8

In [25]:
# 3.6 k) Modify the dataset by adding a new column, Tax, which deducts 10% of the Salary

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

df['Tax'] = df['Salary'] * 0.10
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating     Tax
0   15-03-2020      F   5000     4.5  5000.0
1   19-07-2017      M   7000     4.0  7000.0
2   01-06-2013      M   6000     3.8  6500.0
3   10-02-2021      F   4500     4.7  5500.0
4   25-11-2010      M   5000     3.5  6000.0

In [27]:
# 3.6 l) Save the modified DataFrame (with added columns) to a new CSV file.

import pandas as pd
data = pd.read_csv("/content/employees.csv")

df = pd.DataFrame(data)

def categorize_performance(rating):
    if rating>=4.5:
       return 'Excellent'
    elif rating>=4.0 and rating<4.5:
       return 'Good'
    else:
       return 'Average'

df['Performance'] = df['Rating'].apply(categorize_performance)
df['Tax'] = df['Salary'] * 0.10

df.to_csv('/content/modified_employees.csv',index=False)